*{
  box-sizing: border-box;
}

body{
  margin: 0;
}
.App {
  background-color: #DFDCE5  ;
  height: 100vh;
}

.Login{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}